Fabric==1.5.1
Jinja2==2.6
Markdown==2.2.1
PyYAML==3.10
Pygments==1.5
argparse==1.2.1
boto==2.6.0
commando==0.1.2a
distribute==0.6.24
fs==0.4.0
-e git+https://github.com/felixleong/hyde.git@develop#egg=hyde-dev
oEmbed==0.1.1
paramiko==1.9.0
pycrypto==2.6
smartypants==1.6.0.3
typogrify-hyde==1.0.1a
wsgiref==0.1.2
