.archives .post time {
    display: inline-block;
    width: 9.5em;
}
.archives .post .title {
    font-size: 115%;
    font-weight: 800;
}

/* Posts */
.post h2.title {
    background: #d95b43;
    color: #fff;
    margin: 0 0 0 -40px;
    padding: 0.22em 0.22em 0.22em 40px ;
    position: relative;
}
    .post h2.title a {
        color: #fff;
    }
.post .meta {
    background: url(styles/default/about_fold.png) no-repeat left top;
    margin: 0 0 0 -40px;
    padding-left: 40px;
}
    .post .meta div { margin-bottom: 0.35em; }
.post .tags a {
}

/* Navigation */
#nav a {
    border-radius: 4px 4px 0 0;
}

/* Tags */
.post .tags a, #sidebar .tagcloud a {
    background: #fbe498;
    border-radius: 4px;
    color: #4f4f4f;
    display: inline-block;
    padding: 2px 6px;
    margin: 2px;
}
#sidebar .tagcloud a {
    margin-top: 4px;
    padding: 6px 8px 4px 6px;
}
