{% extends "base.j2" %}

{% block title -%}
{{ resource.meta.title }} | {{ resource.meta.blog_title }}
{%- endblock title %}

{% block main -%}
<article class="post">
<h2 class="title">
    <a title="{{ resource.meta.title|default(resource.meta.title) }}" href="{{ content_url(resource.url) }}">
        {{ resource.meta.title }}
    </a>
</h2>
<p class="meta">
<time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}" class="date">
    {{ resource.meta.created.strftime('%a, %d %b %Y') }}
</time>
</p>

{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}

{% if resource.meta.tags %}
<div class="tags">
Tags:
{% for tag in resource.meta.tags %}
<a href="{{ content_url('blog/tags/'~tag~'.html') }}" rel="tag">{{ tag }}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
</div>
{% endif %}
</article>
{%- endblock %}
