{% set full_width=True %}
{% extends "base.j2" %}

{% block title -%}
{{ resource.meta.title }} | {{ resource.meta.blog_title }}
{%- endblock title %}

{% block sidebar -%}{% endblock sidebar %}

{% block main -%}
<div class="post">
<h2 class="title">{{ resource.meta.title }}</h2>
<div class="meta">
{% from "macros.j2" import render_share_button with context %}
{{ render_share_button(resource) }}
</div>
<div class="entry">
{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}
</div>
</div>
{% endblock main %}
