{% extends "base.j2" %}

{% block main -%}
{% for res in resource.page.posts %}
<article class="post">
<h2 class="title"><a href="{{ content_url(res.url) }}" title="{{ res.meta.title }}">{{ res.meta.title }}</a></h2>

<div class="meta">
  <div>Posted <abbr class="timeago" title="{{ res.meta.created.strftime('%Y-%m-%dT%H:%M:%S+0800') }}"></abbr> on <time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}" class="date">{{ res.meta.created.strftime('%d %b %Y') }}</time></div>
  {% from "macros.j2" import render_share_button with context %}
  {{ render_share_button(res) }}
</div>

<div class="entry">
{% refer to res.url as article -%}
{{ article.post|markdown|typogrify }}
</div>

{% if res.meta.tags %}
<div class="tags">
Tags:
{% for tag in res.meta.tags %}
<a href="{{ content_url('blog/tags/'~tag~'.html') }}" rel="tag">{{ tag }}</a> 
{% endfor %}
</div>
{% endif %}
</article><!-- /.post -->
{% endfor %}

<nav class="pagenavi">
<a class="next{{' disabled' if not resource.page.next }}"
    {% if resource.page.next %}
    href="{{ content_url(resource.page.next.resource.url) }}"{% endif %}>
    Older &laquo;
</a>
<a class="prev{{' disabled' if not resource.page.previous }}"
    {% if resource.page.previous %}
    href="{{ content_url(resource.page.previous.resource.url) }}"{% endif %}>
    Newer &raquo;
</a>
</nav>
{%- endblock %}

{% block scripts -%}
<script src="{{ media_url('js/jquery.timeago.js') }}"></script>
<script src="{{ media_url('js/blog.js') }}"></script>
{%- endblock scripts %}
