{% macro render_excerpt(res, class=None) %}
{% refer to res.url as post %}
<article {{'class='~class if class }}>
<h3><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
<a href="{{ content_url(res.url) }}">{{ post.image|markdown|typogrify }}</a>
{{ post.excerpt|markdown|typogrify }}
<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
</time>
</article>
{% endmacro %}

{% macro render_nav(menu, id=None, include_child_pages=True) -%}
{% if menu -%}
<ul {{'id='~id if id }}>
  {% for item in menu -%}
  {% set active = False -%}
  {% if item.type == 'page' -%}
    {% set active = (resource.url ==
        site.content.resource_from_relative_path(item.url).url) -%}
  {% else -%}
    {% set active = (node ==
        site.content.node_from_relative_path(item.url)) -%}
  {%- endif %}

  {% set classes = [] -%}
  {% do classes.append('active') if active -%}
  {% do classes.append(item.css_class) if item.css_class -%}
  <li>
    <a href="{{ content_url(item.url) }}"
      title="{{ item.description|default(item.name) }}"
      class="{{ classes | join(' ') }}">
      {{ item.name }}
    </a>

    {% if item.child_pages and include_child_pages -%}
    <ul class="children">
    {% for child_item in item.child_pages -%}
    <li>
      <a href="{{ content_url(child_item.url) }}"
        title="{{ child_item.description|default(item.name) }}">
        {{ child_item.name }}
      </a>
    </li>
    {%- endfor %}
    </ul>
    {%- endif %}
  </li>
  {%- endfor %}
</ul>
{%- endif %}
{%- endmacro %}

