<div id="sidebar">
  <div class="widget">
  <h3>Recent Posts<span class="fold">&nbsp;</span></h3>
  <ul>
  {% for res in resource.node.root.walk_resources_sorted_by_time()[:10] -%}
  <li><a title="{{ res.meta.description|default(res.meta.title) }}" href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></li>
  {%- endfor %}
  </ul>
  </div>

  <div class="widget">
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 5,
    interval: 30000,
    width: 'auto',
    height: 300,
    theme: {
        shell: {
        background: '#53777A',
        color: '#ffffff'
        },
        tweets: {
        background: '#ffffff',
        color: '#453645',
        links: '#6c6c6c'
        }
    },
    features: {
        scrollbar: false,
        loop: false,
        live: false,
        behavior: 'all'
    }
    }).render().setUser('felixleong').start();
    </script>
  </div>

  <div class="widget tagcloud">
  <h3>Tag Cloud<span class="fold">&nbsp;</span></h3>
  {% for tagname, tag in site.tagger.tags.to_dict().iteritems() -%}
  <a title="{{ tagname }}" href="{{ content_url('/blog/tags/{0}'.format(tagname)) }}">{{ tagname }}</a>
  {%- endfor %}
  </div>
</div>
