<div id="pages-3" class="widget widget_pages"><h3>Pages<span class="fold">&nbsp;</span></h3>
<ul>
  <li class="page_item page-item-75"><a href="http://demo.woothemes.com/mainstream/about-3/">About</a></li>
  <li class="page_item page-item-49"><a href="http://demo.woothemes.com/mainstream/archives/">Archives</a></li>
  <li class="page_item page-item-186"><a href="http://demo.woothemes.com/mainstream/full-width/">Full Width</a></li>
  <li class="page_item page-item-38"><a href="http://demo.woothemes.com/mainstream/sitemap/">Sitemap</a></li>
</ul>
</div><!-- /#ads -->
