{% extends "base.j2" %}

{% block main %}
<section class="archives">
<h1 class="tag title">Tagged {{ tag.name }}</h1>
<ul class="posts">
{% for resource in walker() -%}
<li class="post">
    <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
        {{ resource.meta.created.strftime('%a, %d %b %Y') }}
    </time>
    <a href="{{ content_url(resource.url) }}" class="title">{{ resource.meta.title }}</a>
</li>
{%- endfor %}
</ul>
</section>
{% endblock %}
