<div id="introduction">
  <div id="about">
    <h2>Hi! Welcome...</h2>
    <p>
    <img src="{{ media_url('6-adii.jpg') }}" alt="Mainstream">Lorem ipsum dolor sit amet, aliquam nec rhoncus amet amet sodales, quis ut augue nulla aliquam sed pretium, metus ornare nullam sit erat, praesent eros mi mollis. Ultricies amet porttitor ultrices tincidunt diam est, lectus volutpat hac, ligula velit, pede a pretium tincidunt.</p>

    <div class="fold"></div>
  </div><!-- /#about -->

  <div id="connect">
    <ul>
      <li><a href="{{ content_url('feed.html') }}" title="RSS"><img src="{{ media_url('images/ico-rss.png') }}" alt="RSS icon"><span>SUBSCRIBE TO OUR FEEDS:</span>ALL POSTS</a></li>
      <li><a href="http://twitter.com/felixleong" title="Twitter"><img src="{{ media_url('images/ico-twitter.png') }}" alt="Twitter icon"><span>FOLLOW ME ON TWITTER:</span>@felixleong</a></li>
      <li><a href="http://facebook.com/leongsh" title="Facebook"><img src="{{ media_url('images/ico-facebook.png') }}" alt="Facebook icon"><span>BE MY FRIEND ON FACEBOOK:</span>leongsh</a></li>
    </ul>
  </div><!-- /#connect -->

  <div class="clear"></div>
</div><!-- /#introduction -->

