<div id="introduction">
  <div id="about">
    <h2>Always curious, rarely foolish… maybe</h2>
    <p>
    <img src="{{ media_url('images/avatar_small.jpg') }}" alt="Profile image">
My life revolves around programming Python, web development, reading and
introspection. My alter ego builds a tech community called Webcamp KL and
leading small tribes within it.
    </p>
    <p>
Loves business, design, entrepreneurship and lifestyle design. And this blog is
a more personal side to who I am as a person.
    </p>
    <div class="fold"></div>
  </div><!-- /#about -->

  <div id="connect">
    <ul>
      <li><a href="{{ content_url('feed.html') }}" title="RSS"><img src="{{ media_url('images/ico-rss.png') }}" alt="RSS icon"><span>SUBSCRIBE TO THE BLOG:</span>ALL POSTS</a></li>
      <li><a href="http://twitter.com/felixleong" title="Twitter"><img src="{{ media_url('images/ico-twitter.png') }}" alt="Twitter icon"><span>FOLLOW ME ON TWITTER:</span>@felixleong</a></li>
      <li><a href="http://facebook.com/leongsh" title="Facebook"><img src="{{ media_url('images/ico-facebook.png') }}" alt="Facebook icon"><span>BE MY FRIEND ON FACEBOOK:</span>leongsh</a></li>
    </ul>
  </div><!-- /#connect -->

  <div class="clear"></div>
</div><!-- /#introduction -->

