h1,h2,h3,h4,h5,h6 {
  font-weight: 700;

  a {
    color: $brand-primary;

    &:hover, &:visited {
      color: darken($brand-primary, 15%);
    }
  }
}
h3 { font-weight: 300; }

blockquote { border-left-color: $brand-primary; }

// Core blocks
.post,
.page-content .listing,
.widget-box {
  border: 1px solid $gray-lighter;
  border-radius: $content-box-border-radius;
  background: #fff;
  margin-bottom: 2em;
  padding: 1.2em;
  position: relative;
}
