/* TUTORIAL ENTRY LINKS */
ul.tutorial-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
  ul.tutorial-list .tutorial-entry {
    clear: both;
    cursor: pointer;
    list-style: none;
    min-height: 70px;
    margin-bottom: 0.6em;
  }
.tutorial-entry:hover { background: #def; }
.tutorial-entry img { margin: 8px 0; }
.tutorial-entry a {
  font-weight: bold;
  font-size: 1.4em;
  margin: 0;;
  padding: 0;
}

/* TUTORIAL PAGES */
.tutorial-goodPractice, .tutorial-badPractice { font-style: italic; }
.tutorial-goodPractice { color: #00f; }
.tutorial-badPractice { color: #f00; }
.tutorial-notes { background: #ccf; }

.tutorial-steps { clear: both; overflow: auto; }
.tutorial-steps img { padding: 0.6em; }
.tutorial-steps img.alignleft, .tutorial-steps img.alignright, .tutorial-steps { padding-bottom: 1.8em }
.tutorial-steps img.wp-smiley { margin: 0; padding: 0; }
