{# The menu items #}
{% macro menuitem_navitem() %}
  {% for title, link in MENUITEMS %}
    <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
{% endmacro %}


{# The pages items #}
{% macro pages_navitem(dropdown=True) %}
  {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in PAGES|sort(attribute='page_order')  %}
      {# We would only list pages that are in the top level #}
      {% if not p.parent %}
        {# It'll be a dropdown if there's child pages #}
        {% if p.children %}
        <li>
          <a href="{{ SITEURL }}/{{ p.url }}" class="dropdown-toggle {% if p == page %}active{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ p.title }}{% if dropdown %} <span class="caret"></span>{% endif %}
          </a>

          {% if dropdown %}
          <ul class="dropdown-menu">
          {% for cp in p.children|sort(attribute='page_order') %}
          <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cp.url }}">{{ cp.title }}</a></li>
          {% endfor %}
          </ul>
          {% endif %}
        </li>

        {# ... Otherwise it's just a top level item #}
        {% else %}
        <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}


{# The category items #}
{% macro category_navitem() %}
  {% if DISPLAY_CATEGORIES_ON_MENU %}
    {% for cat, null in categories %}
      <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
    {% endfor %}
  {% endif %}
{% endmacro %}
